---
layout: default
title: All Projects
---
<div class="container">
	<div class="jumbotron">
		<h1 class="display-3"> {{ page.title }} </h1>
		<p class="lead">These are all my projects. To view specific school or personal projects please use the navbar or buttons below!</p>
		<hr class="my-4">
		<p class="lead">
			<a class="btn btn-primary btn-lg" href="/projects/school.html" role="button">School</a> <a class="btn btn-primary btn-lg" href="/projects/personal.html" role="button">Personal</a>
		</p>
	</div>
</div>
<div class="container">
	<div class="card-columns">
		{% for post in site.posts %}
			{% if post.type == "school" %}
		<div id="school" class="card text-white bg-primary mb-3" style="max-width: 20rem">
			{% elsif post.type == "personal" %}
		<div id="personal" class="card text-white bg-secondary mb-3" style="max-width: 20rem;">
			{% else %}
		<div id="other" class="card text-white bg-success mb-3" style="max-width: 20rem;">
			{% endif %}	
			<div class="card-header">{{ post.type | capitalize }}</div>
			<div class="card-body">
				<h4 class="card-title">{{ post.title }}</h4>
				<p class="card-text">{{ post.summary }}</p>
			</div>
		</div>
		{% endfor %}
	</div>
</div>
